@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; /* Cambiado para usar Open Sans como fuente principal */
    background-color: #F1F1F1;
}

h1 {
    font-family: 'Lora', serif; /* Fuente Lora para H1 */
    font-weight: 700;
    font-size: 40px; /* Tamaño H1 */
    text-align: center;
    color: #595959;
}

h2 {
    font-family: 'Lora', serif; /* Fuente Lora para H2 */
    font-weight: 700;
    font-size: 33px; /* Tamaño H2 */
}

h3 {
    font-family: 'Lora', serif; /* Fuente Lora para H3 */
    font-weight: 700;
    font-size: 26px; /* Tamaño H3 */
}

h4 {
    font-family: 'Lora', serif; /* Fuente Lora para H4 */
    font-weight: 700;
    font-size: 22px; /* Tamaño H4 */
}

p, .body-text {
    font-family: 'Open Sans', sans-serif; /* Fuente Open Sans para el cuerpo */
    font-size: 16px; /* Tamaño para texto del cuerpo */
    color: #595959;
}

.titol {
    width: 100%;
}

i {
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 10px;
    background-color: #F1F1F1; /* Cambiado a color sólido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000; /* Asegura que el header se superponga a otros elementos */
}

main {
    margin-top: 80px;
}

header i {
    padding-top: 15px;
}

.logo-img {
    width: 40px;
}

/* Menú Móvil */
.mobile-navbar {
    display: block; /* Muestra el menú móvil */
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    top: 60px; /* Ajusta esto si es necesario */
    border: 1px solid #ccc; /* Agrega un borde al menú móvil */
    display: none; /* Oculta el menú por defecto */
}

.mobile-navbar ul {
    list-style: none; /* Elimina los estilos por defecto de la lista */
    padding: 0; /* Elimina el padding de la lista */
}

.mobile-navbar li {
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Línea separadora entre elementos */
}

.mobile-navbar a {
    color: #7BE0AD;
    text-decoration: none;
}

#menu-icon {
    cursor: pointer;
}

/* Menú para dispositivos móviles */
@media (max-width: 768px) {
    /* Muestra el menú móvil al hacer clic */
    .mobile-navbar.show {
        display: block;
    }
}

/* Menú de Escritorio */
.navbar {
    display: none; /* Oculta el menú de escritorio por defecto */
}

/* Estilos para pantallas más grandes */
@media (min-width: 769px) {
    header {
        display: grid I !important;
        grid-template-rows: 1fr; /* Una fila */
        grid-template-columns: 599px 78px 1fr; /* Columna única para disposición flexible */
        grid-template-areas: 
            "logo" /* Barra de navegación */
            "navbar"   /* Logo centrado */
            "search"; /* Área de búsqueda, puede ser usada en el futuro */
        
        padding: 10px;
        background-color: #F1F1F1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        
    }
    
    #menu-icon {
        display: none; /* Oculta el icono del menú en pantallas grandes */
    }
    
    /* Logo centrado */
    .logo-img {
        display: grid;
        grid-area: "logo"; /* Asigna el área al logo */
        justify-self: center; /* Centra el logo horizontalmente */
        width: 65px; /* Ajusta el tamaño según sea necesario */
    }
    
    /* Navegación de escritorio */
    .navbar {
        display: grid;
        grid-area: "navbar"; /* Asigna el área a la barra de navegación */
        width: 100%;
        
    }

    .navbar ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .navbar ul li{
        padding: 20px;
    }

    .navbar ul li a{
        text-decoration: none;
        color: #7BE0AD;
        padding: 5px;
        font-weight: bold;
    }

    .navbar ul li a:hover{
        text-decoration: none;
        color: #7BE0AD;
        padding: 5px;
    }
    
    .mobile-navbar {
        display: none; /* Oculta el menú móvil en pantallas grandes */
    }

    .fa-magnifying-glass{
        grid-area: "search";
    }
}

.sketchfab-embed-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width:1800px; /* Ajusta el tamaño máximo del contenedor */
    height: 0;
    padding-bottom: 45%; /* Relación de aspecto más pequeña */
    position: relative;
    background-color: #F2F2F2;
    border-radius: 8px;
    border: 2px solid #2E3A45;
    box-shadow: 0 4px 12px rgba(46, 58, 69, 0.2);
    margin: 20px auto; /* Centrará el contenedor */
}

.sketchfab-embed-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


 .contenidor-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 450px;
    height: 350px;
    margin: 50px;
    position: relative;
    perspective: 1000px; /* Se puede mantener si quieres un efecto 3D */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra añadida */
    transition: transform 0.3s ease; /* Transición suave al girar */
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ocultar la cara posterior cuando no se ve */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7BE0AD;
    border-radius: 5px;
    padding: 1.2em;
    transition: opacity 0.6s ease; /* Transición de desvanecimiento */
}

.card-front {
    background: linear-gradient(135deg, #7BE0AD, #F1F1F1); /* Soft gradient on the front */
    font-size: 20px;
    font-weight: 500;
}




.card-back {
    background: linear-gradient(135deg, #F1F1F1, #7BE0AD); /* Darker gradient on the back */
    color: #ffffff;
    opacity: 0;
}


.card.active .card-front {
    opacity: 0; /* Desvanece el frente cuando está activa */
}

.card.active .card-back {
    opacity: 1; /* Muestra la parte posterior cuando está activa */
}

.card.active .card-back {
    transform: rotateY(0deg); /* Muestra la parte posterior cuando está activa */
}


/* Contenedor del slider con sombra verde */
.slider-container {
    width: 100%;
    max-width: 620px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #F1F1F1;
    box-shadow: 0 4px 15px #2E3A45; /* Sombra verde */
    overflow: hidden;
    position: relative; /* Permite que los controles se posicionen en relación con el contenedor */
}

.controls {
    position: absolute;
    top: 10px; /* Ajusta esto para mover las flechas más cerca o lejos del borde superior */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* Espacia las flechas a los lados */
    padding: 0 20px; /* Espacio alrededor de las flechas */
    z-index: 10; /* Asegura que las flechas estén por encima de las imágenes */
}

button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #f1f1f1; /* Color de las flechas */

}

.image-slider {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 400px; /* Altura fija para el slider */
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    object-fit: cover; /* Recorta las imágenes para llenar el contenedor */
    padding: 10px; /* Espaciado alrededor de la imagen */
}



/* Botones de navegación separados */
.controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; /* Separación añadida */
    transform: translateY(-50%);
}

button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000000;
}

/* Estilos para el mensaje de redirigir */
.redirect-library {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

.redirect-library a {
    color: #7BE0AD;
    text-decoration: none;
    font-weight: bold;
}

.redirect-library a:hover {
    color: #559D7E; /* Un tono más oscuro al hacer hover */
}

.redirect-library i {
    margin-right: 8px;
}

/* Footer */
footer {
    background: linear-gradient(90deg, #7BE0AD, #f1f1f1); /* Gradient from light green to dark blue */
    color: #FFFFFF;
    padding: 40px 20px;
    text-align: center;
}


.footer-content p {
    margin: 10px 0;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.social-icons a:hover {
    color: #011627; /* Color oscuro al hacer hover */
}

