@import 'variables';
@import 'mixins';

footer {
    background: linear-gradient(90deg, $footer-background-gradient-start, $footer-background-gradient-end);
    color: $footer-text-color;
    padding: $spacing-xl $spacing-base;
    text-align: center;
    @include box-shadow($footer-box-shadow);

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .social-icons {
            margin: $spacing-small 0;

            a {
                color: $footer-text-color;
                margin: 0 $spacing-small;

                &:hover {
                    color: $color-black;
                }
            }
        }
    }
}