// footer.scss

@import 'variables';
@import 'mixins';

footer {
    @include gradient-background($color-gradient-start, $color-light);
    color: $color-white;
    padding: $padding-xl 20px;
    text-align: center;
    @include box-shadow($box-shadow-heavy);

    .social-icons {
        margin: 20px 0;

        a {
            margin: 0 10px;
            font-size: 24px;
            color: $color-white;
            text-decoration: none;

            &:hover {
                color: $color-black;
            }
        }
    }
}
