@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';

body {
    font-family: $font-family-open-sans;
    background-color: $background-color;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: $color-white;
    padding: $spacing-large;
    border-radius: $border-radius;
    @include box-shadow($box-shadow);
    width: 300px;
    margin: 50px auto;
}

.login-container h2 {
    font-family: $font-family-lora;
    text-align: center;
    color: $color-dark;
}

.input-group {
    margin-bottom: $spacing-small;
}

label {
    display: block;
    margin-bottom: $spacing-small;
    color: $color-text;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: $spacing-small;
    border: 1px solid $color-grey;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: $spacing-small;
    background-color: $color-gradient-start;
    color: $color-white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: $font-size-p;
    font-weight: bold;
    @include transition(all, 0.3s, ease);

    &:hover {
        background-color: $color-gradient-end;
    }
}