// login.scss

@import 'variables';
@import 'mixins';

main {
    min-height: 67.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: $color-white;
    padding: $padding-large;
    @include border-radius($border-radius);
    @include box-shadow($box-shadow);
    width: 300px;
    margin: 50px auto;

    h2 {
        font-family: $font-family-heading;
        text-align: center;
        color: $color-dark;
    }

    .input-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            color: $color-grey;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            @include border-radius(4px);
        }
    }

    button {
        width: 100%;
        padding: 10px;
        @include button-style($color-success, $color-white);

        &:hover {
            @include button-style($color-success-hover, $color-white);
        }
    }
}
