// variables.scss

// Colores
$color-white: #ffffff;
$color-light: #F1F1F1;
$color-dark: #595959;
$color-success: #28a745;
$color-success-hover: #218838;
$color-gradient-start: #7BE0AD;
$color-gradient-end: #559D7E;
$color-black: #000000;
$color-grey: #555;

// Tipografía
$font-family-main: 'Open Sans', sans-serif;
$font-family-heading: 'Lora', serif;

// Tamaños
$padding-small: 10px;
$padding-base: 20px;
$padding-large: 30px;
$padding-xl: 40px;

// Bordes
$border-radius: 8px;

// Sombras
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$box-shadow-heavy: 0 6px 15px rgba(0, 0, 0, 0.3);
